<web-app>
    <servlet>
        <servlet-name>ChamadosServlet</servlet-name>
        <servlet-class>com.example.oraclewebapp.ChamadosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChamadosServlet</servlet-name>
        <url-pattern>/chamados</url-pattern>
    </servlet-mapping>
</web-app>
